.post-viewer {
  width: 80%;
  top: 100px;
  left: 10%;
  z-index: 10000;
}

.home-post-link-container {
  padding: 0em 4em;
}

.post-link-items {
  margin-bottom: 10px;
  padding: 1em 3em;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}

.post-link-items:hover {
  background-color: black;
  color: white;
}
