.home-container {
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.recently-saved-contaier {
  display: flex;
  margin-top: 10rem;
  padding: 4rem 1rem 3rem 1rem;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.recently-saved-heading {
  position: absolute;
  top: 0%;
  font-weight: 600;
}

.post-viewer-container {
  position: fixed;
  z-index: 10000;
  top: 0px;
  left: -7%;
  width: 100vw;
  overflow: scroll;
}

.post-viewer-bg {
  position: fixed;
  z-index: 9999;
  top: 0%;
  left: -7%;
  width: 100vw;
  height: 100vh;
  background: rgba(25, 25, 25, 0.14);
  backdrop-filter: blur(20px);
}

.post-viewer {
  width: 80%;
  top: 100px;
  left: 10%;
  z-index: 10000;
}

.home-search-container {
  position: relative;
  width: 100%;
  margin-bottom: 200px;
}

.home-container-inner {
  position: relative;
  width: 84%;
  margin-left: auto;
  margin-right: 0rem;
}

.home-post-link-container {
  padding: 0em 4em;
}

.post-link-date-heading {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 3rem 0rem 3rem 0.6rem;
}

.post-link-items {
  margin-bottom: 10px;
  padding: 1em 3em;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}

.post-link-items:hover {
  background-color: black;
  color: white;
}
