.home-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.post-viewer-container {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
}

.home-container-inner {
  overflow: auto;
}

.home-container-inner.left {
  flex: 60%;
}

.home-container-inner.right {
  flex: 40%;
  background-color: rgb(26, 26, 26, 1);
}

.home-search-container {
  position: relative;
  width: 100%;
  margin-bottom: 200px;
}

.home-post-link-container {
  padding: 0em 4em;
}

.post-link-date-heading {
  font-size: 2.8rem;
  font-weight: 500;
  margin-top: 5rem;
}

.post-link-items {
  margin-bottom: 10px;
  padding: 1em 3em;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}

.post-link-items:hover {
  background-color: black;
  color: white;
}
