.search-item {
  background-color: #ffffff;
}
.search-item:hover {
  background-color: #e6e7e7;
}

.search-input {
  border: 1px solid #9cadbd;
}

.search-input:focus {
  outline: 2px;
  outline-color: black;
  border-radius: 5px 5px 0px 0px;
}

.search-input::placeholder {
  color: #9cadbd;
}
