@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "InterVariable";
  src: url("./assets/fonts/inter-variable.ttf");
}

body {
  font-family: "InterVariable", sans-serif;
  padding: 0;
  margin: 0;
}

* {
  position: relative;
}
