.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
/* .editor-class {
  background-color: lightgray;
  padding: 1rem;
  border: 1px solid #ccc;
} */
.toolbar-class {
  border: 1px solid #ccc;
  display: flex;
  cursor: pointer;
}
.code-view {
  padding: 1rem;

  margin: 10px;
}
.text-area {
  width: 100%;
  background: black;
  border: 1px solid #ccc;
  color: white;
  min-height: 200px;
}

.tooltip-item {
  margin: 1rem;
}

a {
  color: red;
}
